body{
    background-color: azure
}
h1{
    color:orangered;
    background-color: yellow
}

h1.header1{
    width: 580px;
}

h2{
    font-size: 25px;
}

span{
    color: black
}

h1.header2{
    width: 360px;
}

span.benri{
    color:red;
}

li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

p.header3{
    font-size: 20px;
    color: lime;
}